<!DOCTYPE html>
<html lang="en" data-theme="sunset">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shelflove</title>
    <link type="text/css" href="/static/style.css" rel="stylesheet" />
  </head>

  <body>
    {{ template "navbar" . }}
    <div class="mx-5 my-5">
      <h1 class="text text-2xl font-bold">Admin dashboard</h1>
      <h2 class="text text-xl text-primary mb-5">
        {{ .Username }} ( {{ .Email }} )
      </h2>
      <div class="divider"></div>
      {{ if gt (len .RequestedReturns) 0 }}
      <div class="flex flex-row justify-between">
        <h3 class="text text-slate-400 text-2xl">Requested returns</h3>
        <button class="btn btn-accent approve-btn">Approve Selected</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr class="text text-blue-500 text-lg">
            <th>Issue ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Issued Date</th>
            <th>Return Date(exp.)</th>
            <th>Requested Return</th>
            <th>Select to approve</th>
          </tr>
        </thead>
        <tbody>
          {{ range .RequestedReturns }}
          <tr>
            <td>{{ .Issue.Id }}</td>
            <td class="flex flex-row gap-2">
              {{ .Book.Title }}
              <a href="/books/{{ .Book.Id }}">
                <svg
                  class="cursor-pointer"
                  width="26px"
                  height="26px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <g id="Interface / External_Link">
                      <path
                        id="Vector"
                        d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                  </g>
                </svg>
              </a>
            </td>
            <td>{{ .Book.Author }}</td>
            <td>{{ .Issue.Issue_date }}</td>
            <td>{{ .Issue.Expected_return_date }}</td>
            <td>{{ .Issue.ReturnRequested }}</td>
            <td>
              <input
                type="checkbox"
                class="checkbox return-checkbox"
                id="checkbox{{ .Issue.Id}}"
                data-issue-id="{{ .Issue.Id }}"
                data-book-id="{{ .Book.Id }}"
              />
            </td>
            <td>
              <form action="/api/admin/denyreturn/{{ .Issue.Id}}" method="post">
                <button class="btn btn-secondary" type="submit">Deny</button>
              </form>
            </td>
          </tr>

          {{ end }}
        </tbody>
      </table>
      {{ else }}
      <p>No new Requests</p>
      {{ end }} {{ if gt (len .RequestedIssues) 0 }}

      <div class="divider"></div>
      <div class="flex flex-row justify-between">
        <h3 class="text text-slate-400 text-2xl">Requested issues</h3>
        <button class="btn btn-accent approve-issue-btn">
          Approve Selected
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr class="text text-blue-500 text-lg">
            <th>Issue ID</th>
            <th>Username</th>
            <th>Title</th>
            <th>Author</th>
            <th>Quantity</th>
            <th>Requested Issue</th>
            <th>Select to approve</th>
          </tr>
        </thead>
        <tbody>
          {{ range .RequestedIssues }}

          <tr>
            <td>{{ .Issue.Id }}</td>
            <td>{{ .Username }}</td>
            <td class="flex flex-row gap-2">
              {{ .Book.Title }}
              <a href="/books/{{ .Book.Id }}">
                <svg
                  class="cursor-pointer"
                  width="26px"
                  height="26px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <g id="Interface / External_Link">
                      <path
                        id="Vector"
                        d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                  </g>
                </svg>
              </a>
            </td>
            <td>{{ .Book.Author }}</td>
            <td>{{ .Book.Quantity }}</td>

            <td>{{ .Issue.IssueRequested}}</td>
            <td>
              <input
                type="checkbox"
                class="checkbox issue-checkbox"
                id="checkbox{{ .Issue.Id}}"
                data-issue-id="{{ .Issue.Id}}"
                data-book-id="{{ .Book.Id }}"
                data-book-quantity="{{ .Book.Quantity}}"
              />
            </td>
            <td>
              <form action="/api/admin/denyissue/{{ .Issue.Id}}" method="post">
                <button class="btn btn-secondary" type="submit">Deny</button>
              </form>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      {{ end}}
      <br />
      <div class="divider"></div>
      {{ if gt (len .RequestedAdmins) 0 }}
      <div>
        <div class="flex flex-row justify-between">
          <h3 class="text text-slate-400 text-2xl">
            Requested users to be Admin
          </h3>
          <button class="btn btn-accent approve-admin-btn">
            Approve Selected
          </button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr class="text text-blue-500 text-lg">
              <th>User ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Select to approve</th>
            </tr>
          </thead>
          <tbody>
            {{ range .RequestedAdmins }}
            <tr>
              <td class="text-lg">{{ .Id }}</td>

              <td class="text-lg">{{ .Username }}</td>
              <td class="text-lg">{{ .Email }}</td>

              <td class="text-lg">
                <input
                  type="checkbox"
                  class="checkbox admin-checkbox"
                  id="checkbox{{ .Id}}"
                  data-user-id="{{ .Id }}"
                />
              </td>
              <td>
                <form action="/api/admin/denyadmin/{{ .Id}}" method="post">
                  <button class="btn btn-secondary" type="submit">Deny</button>
                </form>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      <br />
      <div class="divider"></div>
      {{ end }}
    </div>
    <button class="btn addBookModal" onclick="addBookModal.showModal()">
      Add a new Book
    </button>
    <button class="btn btn-secondary mx-4" id="logout">Logout</button>

    <dialog id="addBookModal" class="modal">
      <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
          <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >
            ✕
          </button>
        </form>
        <h3 class="font-bold text-lg">Add New book</h3>
        <div class="divider divider-accent"></div>
        <form action="/api/admin/addbook/" method="post" id="addnewbookForm">
          <div class="flex flex-row w-full gap-16 align-center items-center">
            <div>
              <label class="text-xl" for="title">Title</label>
              <input
                type="text"
                name="title"
                class="input input-bordered w-full max-w-xs my-3 mx-3"
                placeholder="Enter book title"
                required
              />
            </div>
            <div>
              <label class="text-xl" for="author">Author</label>
              <input
                type="text"
                name="author"
                class="input input-bordered w-full max-w-xs my-3 mx-3"
                placeholder="Enter book Author"
                required
              />
            </div>
          </div>
          <div class="flex flex-row w-full gap-16 align-center items-center">
            <div class="flex flex-col">
              <label class="text-xl mt-5" for="description">Description</label>
              <textarea
                class="textarea textarea-bordered textarea-lg mx-3 resize-none max-w-xs border-solid outline-none rounded-xl my-3"
                name="description"
                placeholder="Enter the book description"
                required
              ></textarea>
            </div>
            <div class="ml-8">
              <label class="text-xl" for="publication_date"
                >Publication Date:</label
              >
              <input
                type="date"
                name="publication_date"
                class="input outline-none focus:outline-none my-3 mx-3"
                required
              />
            </div>
          </div>
          <div class="flex flex-row w-full gap-16 align-center items-center">
            <div>
              <label class="text-xl" for="quantity">Quantity</label>
              <input
                type="number"
                name="quantity"
                min="0"
                id="positiveQuantityInput"
                class="input input-bordered w-full max-w-xs my-3 mx-3"
                placeholder="Enter how many books to enter"
                required
              />
              <p class="text-red-500" id="errorQuant"></p>
            </div>
            <div>
              <label class="text-xl" for="rating">Rating ( out of 10)</label>
              <input
                type="number"
                name="rating"
                max="10"
                min="1"
                step=".1"
                class="input input-bordered w-full max-w-xs my-3 mx-3"
                placeholder="Enter the rating of the book"
                required
              />
            </div>
          </div>
          <div>
            <div>
              <label class="text-xl" for="address">Address</label>
              <input
                type="text"
                name="address"
                class="input input-bordered w-full max-w-xs my-3 mx-3"
                placeholder="Enter book address"
                required
              />
            </div>
            <div>
              <label class="text-xl" for="genre">Genre</label>
              <select
                class="select select-bordered w-full max-w-xs"
                name="genre"
              >
                <option selected>Fantasy</option>
                <option>Drama</option>
                <option>Comedy</option>
                <option>Physics</option>
                <option>Literature</option>
              </select>
            </div>
          </div>
          <div class="flex items-center w-full justify-end flex-row" style="justify-content: flex-end">
            <button class="btn btn-primary addbook mt-4" type="submit" id="addbook">
              Add
            </button>
          </div>
          
        </form>
      </div>
    </dialog>
    {{ if gt (len .RequestedReturns) 0 }}
    <script>
      const returnCheckboxes = document.querySelectorAll(".return-checkbox");
      const selectedIssueIds = [];
      let selectedReturnbooks = {};

      returnCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", (event) => {
          if (event.target.checked) {
            selectedIssueIds.push(event.target.dataset.issueId);

            if (!selectedReturnbooks[event.target.dataset.bookId]) {
              selectedReturnbooks[event.target.dataset.bookId] = 1;
            } else {
              selectedReturnbooks[event.target.dataset.bookId]++;
            }
          } else {
            const index = selectedIssueIds.indexOf(
              event.target.dataset.issueId
            );
            if (index > -1) {
              selectedIssueIds.splice(index, 1);
            }
            selectedReturnbooks[event.target.dataset.bookId]--;
          }
        });
      });

      const submitButton = document.getElementsByClassName("approve-btn");
      submitButton[0].addEventListener("click", (event) => {
        event.preventDefault();
        if (selectedIssueIds.length === 0) {
          alert("Please select at least one checkbox");
          return;
        }

        const requestBody = JSON.stringify({
          issueIds: selectedIssueIds,
          selectedBooks: selectedReturnbooks,
        });
        console.log(requestBody);
        fetch("/api/admin/approvereturns", {
          method: "POST",
          body: requestBody,
          headers: { "Content-Type": "application/json" },
        }).then((response) => {
          selectedIssueIds.length = 0;
          selectedReturnbooks = {};
          location.reload();
        });
      });
    </script>
    {{ end}} {{ if gt (len .RequestedIssues) 0 }}
    <script>
      const issueCheckboxes = document.querySelectorAll(".issue-checkbox");
      const selectedIssueReqIds = [];
      let selectedIssuebooks = {};

      issueCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", (event) => {
          if (event.target.checked) {
            console.log("checked");
            let bookQuantity = event.target.dataset.bookQuantity;
            if (
              !selectedIssuebooks[event.target.dataset.bookId] &&
              bookQuantity > 0
            ) {
              console.log("can issue");
              selectedIssueReqIds.push(event.target.dataset.issueId);
              selectedIssuebooks[event.target.dataset.bookId] = 1;
              console.log(selectedIssueReqIds, selectedIssuebooks);
            } else {
              if (
                bookQuantity > selectedIssuebooks[event.target.dataset.bookId]
              ) {
                selectedIssueReqIds.push(event.target.dataset.issueId);
                selectedIssuebooks[event.target.dataset.bookId]++;
              } else {
                alert("Not enough books");
                event.target.checked = false;
              }
            }
          } else {
            const index = selectedIssueReqIds.indexOf(
              event.target.dataset.issueId
            );
            if (index > -1) {
              selectedIssueReqIds.splice(index, 1);
            }
            selectedIssuebooks[event.target.dataset.bookId]--;
          }
        });
      });
      const submitIssueButton =
        document.getElementsByClassName("approve-issue-btn");
      submitIssueButton[0].addEventListener("click", (event) => {
        event.preventDefault();
        if (selectedIssueReqIds.length === 0) {
          alert("Please select at least one checkbox");
          return;
        }
        const requestBody = JSON.stringify({
          issueIds: selectedIssueReqIds,
          selectedBooks: selectedIssuebooks,
        });

        console.log(requestBody);
        fetch("/api/admin/approveissues/", {
          method: "POST",
          body: requestBody,
          headers: { "Content-Type": "application/json" },
        }).then((response) => {
          selectedIssueReqIds.length = 0;
          selectedIssuebooks = {};
          location.reload();
        });
      });
    </script>
    {{end}} {{ if gt (len .RequestedAdmins) 0 }}
    <script>
      const adminCheckboxes = document.querySelectorAll(".admin-checkbox");
      const selectedUserIds = [];

      adminCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", (event) => {
          if (event.target.checked) {
            selectedUserIds.push(event.target.dataset.userId);
          } else {
            const index = selectedUserIds.indexOf(event.target.dataset.userId);
            if (index > -1) {
              selectedUserIds.splice(index, 1);
            }
          }
        });
      });
      const submitAdminButton =
        document.getElementsByClassName("approve-admin-btn");

      submitAdminButton[0].addEventListener("click", (event) => {
        event.preventDefault();
        if (selectedUserIds.length === 0) {
          alert("Please select at least one checkbox");
          return;
        }

        const requestBody = JSON.stringify({ ids: selectedUserIds });
        console.log(requestBody);

        fetch("/api/admin/approveadmin/", {
          method: "POST",
          body: requestBody,
          headers: { "Content-Type": "application/json" },
        }).then((response) => {
          selectedUserIds.length = 0;
          location.reload();
        });
      });
    </script>
    {{ end }}

    <script>
      const logoutButton = document.getElementById("logout");
      logoutButton.addEventListener("click", async () => {
        try {
          const response = await fetch("/api/auth/logout", {
            method: "GET",
          });
          const data = await response.json();
          if (data.message === "Successfully logged out") {
            window.location.href = "/login";
          } else {
            error(data.message);
          }
        } catch (error) {
          alert(error);
        }
      });
    </script>
    <script>
      const numberInput = document.getElementById("positiveQuantityInput");
      const errorQuant = document.getElementById("errorQuant");

      numberInput.addEventListener("keypress", function (event) {
        if (event.key === "Backspace" || event.key === "Delete") {
          errorQuant.innerHTML = " ";
          return;
        }

        const isNumber = !isNaN(event.key) && event.key !== ".";

        if (!isNumber) {
          event.preventDefault();
          errorQuant.innerHTML = `Can't add negative or decimal number`;
        } else if (
          event.key === "Backspace" ||
          event.key === "Delete" ||
          isNumber
        ) {
          errorQuant.innerHTML = " ";
        }
      });

      // const addBookButton = document.getElementById("addbook");
      // const addnewbookForm = document.getElementById("addnewbookForm");

      // addBookButton.addEventListener("click", () => {
      //   addnewbookForm.submit();
      // });
    </script>
  </body>
</html>
