{{ define "navbar" }}
<nav class="navbar bgCustom">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href="/"
      class="flex flex-row items-center text-2xl font-semibold textCustomWhite text-white"
    >
      Shelf<span class="text-red-500">love</span>
    </a>
    <div class="flex items-center md:order-2 gap-4">
      {{ if .IsLoggedIn }}
      <div class="flex flex-row w-max align-center">
        {{ if .IsAdmin }}
        <a href="/admin" class="mx-4">
          <button type="input" class="btn btn-primary" id="user-menu-button">
            Dashboard
          </button>
        </a>
        {{ else }}
        <a href="/user" class="mx-4">
          <button type="input" class="btn btn-primary" id="user-menu-button">
            Dashboard
          </button>
        </a>
        {{ end }}
      </div>
      {{ else }}
      <a href="/login">
        <button type="input" class="btn btn-primary" id="login-button">
          Login
        </button>
      </a>
      {{ end }}
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-user"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700"
      >
        <li>
          {{ if .HomeActive}}

          <a
            href="/"
            class="block py-2 px-3 rounded bg-transparent text-blue-700 md:p-0 text-blue-500"
            aria-current="page"
            >Home</a
          >
          {{else}}
          <a
            href="/"
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0"
            aria-current="page"
            >Home</a
          >
          {{end}}
        </li>
        <li>
          {{ if .BooksActive}}
          <a
            href="/books"
            class="block py-2 px-3 rounded bg-transparent text-blue-700 md:p-0 text-blue-500"
            >Books</a
          >
          {{else}}
          <a
            href="/books"
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0"
            >Books</a
          >
          {{end}}
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}
