<!DOCTYPE html>
<html lang="en" data-theme="sunset">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shelflove</title>
    <link
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/Arshdeep54/CDN/style.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ template "navbar" . }}
    <div class="mx-5 my-5">
      <h1 class="text text-2xl font-bold">User Profile</h1>
      <h2 class="text text-xl text-primary m-5">Name : {{ .Username }}</h2>
      <h2 class="text text-xl text-primary m-5">Email : {{ .Email }}</h2>
      <div class="divider"></div>

      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" checked="checked" />
        <div class="collapse-title text text-slate-400 text-2xl">
          Issued Books
        </div>
        <div class="collapse-content">
          {{ if gt (len .RequestedIssues) 0 }}
          <table class="table table-striped">
            <thead>
              <tr class="text text-blue-500 text-lg">
                <th>Issue ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Issued Date</th>
                <th>Return Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{ range .RequestedIssues }}
              <tr>
                <td>{{ .Issue.Id }}</td>
                <td class="flex flex-row gap-2">
                  {{ .Book.Title }}
                  <a href="/books/{{ .Issue.Book_id }}">
                    <svg
                      class="cursor-pointer"
                      width="26px"
                      height="26px"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <g id="Interface / External_Link">
                          <path
                            id="Vector"
                            d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                            stroke="#000000"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </a>
                </td>
                <td>{{ .Book.Author }}</td>
                <td>{{ .Issue.Issue_date }}</td>
                <td>{{ .Issue.Expected_return_date }}</td>
                <td>{{ .Status }}</td>
              </tr>

              {{end }}
            </tbody>
          </table>
          {{ else }}
          <p>You don't have any issued books currently.</p>
          {{end}}
        </div>
      </div>
      <br />
      <div class="collapse collapse-arrow bg-base-200">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text text-slate-400 text-2xl">
          Account Settings
        </div>
        <div class="collapse-content">
          <div class="flex flex-row items-center">
            <p class="text-xl p-4">Send Request to be admin</p>
            <form action="/api/user/adminrequest/" method="post">
              {{if .AdminRequested }}
              <button
                type="submit"
                class="btn btn-warning"
                id="sendAdminRequest"
              >
                Already Sent
              </button>
              {{ else}}

              <button
                type="submit"
                class="btn btn-accent"
                id="sendAdminRequest"
              >
                Send
              </button>
              {{ end}}
            </form>
          </div>
          <button class="btn btn-secondary mx-4" id="logout">Logout</button>
        </div>
      </div>

      <div class="divider"></div>
    </div>
    <script src="/static/scripts/logout.js"></script>
  </body>
</html>
